<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<style>
  .jumbotron {
  height: 650px;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.lead span {
  color: orange;
  font-weight: bold;
}


.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
  background-image: url('{% static 'images/background3.jpg' %}');
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.setwidth{
width: 100%;
}
.setwidth2{
width: 200px;
}

.navbar-dark {
            background-color: black !important;
        }
</style>

<body style="background-color:lightgrey;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'mysite:home' %}" style="padding-left:250px;"><img src="{% static 'images/logo4.png' %}" height="50px" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a class="nav-link active" href="{% url 'mysite:home' %}" style="padding-left:100px;">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" href="#" style="padding-left:50px;">About us</a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link active" href="{% url 'mysite:forms' %}" style="padding-left:50px;">Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="padding-left:50px;">User: {{request.user}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'mysite:logout' %}" style="padding-left:50px;">Logout<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>


    <br><br><br><br><br><br>
    <div class="d-flex justify-content-center">
      <div style="width:1500px;">
          <center><img src="{% static 'images/logo4.png' %}" height="200px" width="400px"></center><br>
      <p class="lead">
          <h5 style="text-align:center;">MOTTO: " Awareness - the key in life "</h5>
          <h5 style="text-align:center;">VISION: " To provide necessary and relevant info to people how seek it. "</h5>
      <hr class="my-4">
      <div class="container">
        <center>
          <p><b>Notifier</b> keeps you informed and up to date by providing you with all the necessary and relevant
              information. The Notifier notifies you with events, and stuff happening around you according to your
              interests. The notifications will be sent via emails and these notifications will be related to
              information you provide when u fill the form. We promise you that there will be no spamming and we try to
              make notifications as relevant as possible. </p>
        </center>
      </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>

    <div class="container" style="border: 2px solid black;border-radius: 5px;background-color:black;color:white;">
        <br>
        <center><p><b>Please fill the form so we can understand u better and so u can receive more relevant notifications !! </b></p></center>
        <div class="d-flex justify-content-center">
            <a href="{% url 'mysite:forms' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Fill form !!</a>
         </div>
        <br>
    </div>
    <br><br><br>

</body>
</html>